<!-- This template is only used for providing the stylesheet path in the respective container. The stylesheet will only apply if the CeresCoconut Stylesheet data provider is linked in the CMS » Container link menu -->

<link rel="stylesheet" href="{{ plugin_path('CeresCoconut') }}/css/main.css">