{% set categoryDescriptionTop = ceresConfig.item.showCategoryDescriptionTop %}

<div class="parallax-img-container">
    <div class="parallax-img-container-inner"
            {% if category.details[0].image2Path is not empty %}
        style="background-image: url(/documents/{{ category.details[0].image2Path }});"
            {% endif %}>
        <div class="container-max">
            <div class="parallax-text-wrapper">
                <div class="parallax-text-container">

                    {% set breadcrumbs = services.category.getHierarchy() %}
                    <h3>
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.level != 1 and category.details[0].name != breadcrumb.details[0].name %}
                                <h3>{{ breadcrumb.details[0].name}}</h3>
                            {% endif %}
                        {% endfor %}
                    </h3>

                    <h1 class="h2 pt-2 category-title">{{ category.details[0].name | raw }}</h1>

                    {% if categoryDescriptionTop == "description1" or categoryDescriptionTop == "both" %}
                        <div class="category-description mb-3">{{ category.details[0].description | raw }}</div>
                    {% endif %}
                    {% if categoryDescriptionTop == "description2" or categoryDescriptionTop == "both" %}
                        <div class="category-description mb-3">{{ category.details[0].description2 | raw }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>