{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::Category.Macros.CategoryTree" as Tree %}

{% set categoryDescriptionBottom = ceresConfig.item.showCategoryDescriptionBottom %}
{% set categoryDescriptionTop = ceresConfig.item.showCategoryDescriptionTop %}
{% set decimalCount = ceresConfig.item.storeSpecial %}

{% set overrideSearchFilters = LayoutContainer.show("Ceres::Search.Filter", facets ) %}

{% block PageBody %}


    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}




    {% if category is defined and ceresConfig.item.showCategoryImage %}
        {% include "CeresCoconut::Category.Item.Partials.CategoryParallaxImage" with { 'category': category } %}
    {% endif %}

    <!-- START  -->
    xxxxxxxx /resources/views/Category/Item/CategoryItem.twig xxxxxxxx
    {% set breadcrumbs = services.category.getHierarchy() %}
    {% set currentLevel = 1 %}

    {% for category in categories %}
        {% if category.details[0] %}
            {% for breadcrumb in breadcrumbs %}
                {% if category.id == breadcrumb.id %}
                    {% if category.children is not empty %}

                        {% for category in category.children %}
                            {% if category.details[0] %}
                                {% for breadcrumb in breadcrumbs %}
                                    {% if category.id == breadcrumb.id %}
                                        {% set currentLevel = 2 %}
                                        {% if category.children is not empty %}


                                            {% for category in category.children %}
                                                {% if category.details[0] %}
                                                    {% for breadcrumb in breadcrumbs %}
                                                        {% if category.id == breadcrumb.id %}
                                                            {% set currentLevel = 3 %}
                                                            {% if category.children is not empty %}



                                                                {% for category in category.children %}
                                                                    {% if category.details[0] %}
                                                                        {% for breadcrumb in breadcrumbs %}
                                                                            {% if category.id == breadcrumb.id %}
                                                                                {% set currentLevel = 4 %}

                                                                                {% if category.children is not empty %}



                                                                                    {% set currentLevel = 5 %}



                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}




                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}




                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}


                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}







    <!-- Aktuelles Menülevel: {{ currentLevel }} -->



    <div class="widget widget-text widget-none" style="margin-bottom:0">
        <div class="widget-inner">
            <div class="categorySubSelect messer-nach-hersteller" style="clear: both; overflow: hidden;">


                {% for category in categories %}
                    {% if category.details[0] %}
                        {% set urlNow0 = "/" ~ category.details[0].nameUrl %}
                        {% for breadcrumb in breadcrumbs %}
                            {% if category.id == breadcrumb.id %}
                                {% if category.children is not empty %}




                                    {% for category in category.children %}
                                        {% if category.details[0] %}
                                            {% set urlNow1 = urlNow0 ~ "/" ~ category.details[0].nameUrl %}
                                            {% if currentLevel == "1" %}

                                                {% if category.details[0].imagePath is not empty %}
                                                    <a href="{{ urlNow1 }}{{ urls.trailingSlashSuffix }}">
                                                        <img src="/documents/{{ category.details[0].imagePath }}"
                                                             alt="{{ category.details[0].name }}">

                                                        <h2>{{ category.details[0].name }}</h2>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            {% for breadcrumb in breadcrumbs %}
                                                {% if category.id == breadcrumb.id %}
                                                    {% if category.children is not empty %}




                                                        {% for category in category.children %}
                                                            {% if category.details[0] %}
                                                                {% set urlNow2 = urlNow1 ~  "/" ~ category.details[0].nameUrl %}
                                                                {% if currentLevel == "2" %}

                                                                    {% if category.details[0].imagePath is not empty %}
                                                                        <a href="{{ urlNow2 }}{{ urls.trailingSlashSuffix }}">
                                                                            <img src="/documents/{{ category.details[0].imagePath }}"
                                                                                 alt="{{ category.details[0].name }}">

                                                                            <h2>{{ category.details[0].name }}</h2>
                                                                        </a>
                                                                    {% endif %}
                                                                {% endif %}
                                                                {% for breadcrumb in breadcrumbs %}
                                                                    {% if category.id == breadcrumb.id %}


                                                                        {% if category.children is not empty %}


                                                                            {% for category in category.children %}
                                                                                {% if category.details[0] %}
                                                                                    {% set urlNow3 = urlNow2 ~  "/" ~ category.details[0].nameUrl %}
                                                                                    {% if currentLevel == "3" %}
                                                                                        {% if category.details[0].imagePath is not empty %}
                                                                                            <a href="{{ urlNow3 }}{{ urls.trailingSlashSuffix }}">
                                                                                                <img src="/documents/{{ category.details[0].imagePath }}"
                                                                                                     alt="{{ category.details[0].name }}">

                                                                                                <h2>{{ category.details[0].name }}</h2>
                                                                                            </a>
                                                                                        {% endif %}




                                                                                    {% endif %}
                                                                                    {% for breadcrumb in breadcrumbs %}
                                                                                        {% if category.id == breadcrumb.id %}

                                                                                            {% if category.children is not empty %}



                                                                                                {% set currentLevel = 5 %}



                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                {% endif %}
                                                                            {% endfor %}




                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}




                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}


                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- ENDE -->

    <div class="categoriegrid page-content container-max">

        {% if category is not defined and itemList is not empty %}
            <div class="row mt-3">
                <div class="col-12">
                    <h1 class="h2" id="searchPageTitle">{{ trans("Ceres::Template.itemSearchResults") }} {{ searchString }}</h1>
                </div>
            </div>
        {% endif %}

        {% if category is defined and not ceresConfig.item.showCategoryImage %}
            <div class="row mt-3">
                <div class="col-12">
                    <h1 class="h2 category-title">{{ category.details[0].name }}</h1>
                    {% if ceresConfig.item.showCategoryDescriptionTop in ["description1", "both"] and category.details[0].description | trim is not empty %}
                        <div class="category-description mb-3">{{ category.details[0].description | raw }}</div>
                    {% endif %}
                    {% if ceresConfig.item.showCategoryDescriptionTop in ["description2", "both"] and category.details[0].description2 | trim is not empty %}
                        <div class="category-description mb-3">{{ category.details[0].description2 | raw }}</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="list-controls mb-5">
            <div class="list-controls-inner">
                <div class="row">
                    <div class="col-12">
                        <div class="list-wrapper">
                            {% include "Ceres::Category.Item.Partials.ItemSorting" with { 'sortingData': searchOptions.sorting, 'selectedSorting': itemSorting } %}

                            {% include "Ceres::Category.Item.Partials.ItemsPerPage" with { 'itemsPerPage': searchOptions.itemsPerPage, 'selectedValue': itemsPerPage } %}

                            {% if overrideSearchFilters | trim is empty %}
                                <item-filter-list :facet-data="{{ facets | json_encode }}">
                                    {% if facets | length > 0 %}
                                        <a class="btn btn-link filter-toggle" href="#filterCollapse">
                                            <i class="fa fa-sliders default-float" aria-hidden="true"></i> {{ trans("Ceres::Template.itemFilter") }}
                                        </a>
                                    {% endif %}
                                </item-filter-list>
                            {% else %}
                                {{ overrideSearchFilters }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {# TAGS #}
            <item-filter-tag-list></item-filter-tag-list>
        </div>

        {% if ceresConfig.pagination.position in ['top', 'top_bottom'] %}
            <div class="list-controls mb-5 row">
                <div class="col-12">
                    {% include "Ceres::Category.Item.Partials.Pagination" %}
                </div>
            </div>
        {% endif %}

        <div class="row">

            {% if category is defined and ceresConfig.header.showNavBars in ["side", "both"] %}
                <div class="col-3 hidden-md-down">
                    <div class="sidebar-categories">
                        <div class="category-title">{{ trans("Ceres::Template.itemCategories") }}</div>
                        {{ include('Ceres::PageDesign.Partials.Header.SideNavigation.twig') }}
                    </div>

                    {{ LayoutContainer.show("CeresCoconut::CategoryItem.SideNavBarBottom") }}
                </div>

            {% endif %}

            <div class="col-12 col-lg-{% if category is defined and ceresConfig.header.showNavBars in ["side", "both"] %}9{% else %}12{% endif %}">
                {% if itemList is not empty %}
                    <ul class="product-list row grid">
                        {% for item in itemList %}
                            {{ component( "CeresCoconut::ItemList.Components.CategoryItem") }}
                            <li class="col-12 col-sm-6 col-md-4 col-lg-{% if category is defined and ceresConfig.header.showNavBars in ["side", "both"] %}4{% else %}3{% endif %}">
                                yyy ITEM yyy

                                <category-item
                                        item-data-ref="{{ item.data | json_data }}"
                                        template-override="#vue-category-itemCoutobelle"
                                        :decimal-count="{{ ceresConfig.item.storeSpecial }}">



                                    <template #before-prices>{{ LayoutContainer.show("CeresCoconut::CategoryItem.BeforePrices", item.data) }}</template>
                                    <template #after-prices>{{ LayoutContainer.show("CeresCoconut::CategoryItem.AfterPrices", item.data) }}</template>

                                    <a href="{{ item.data | itemURL }}" class="small">
                                        <i class="fa fa-image"></i>
                                        <span>{{ item.data | itemName }}</span>
                                    </a>




                                </category-item>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if category is not defined and itemList is empty %}
                    <p class="h3 text-muted mb-5 text-center">{{ trans("Ceres::Template.itemSearchNoResults", {"searchString": searchString}) }}</p>
                {% endif %}
            </div>
        </div>

        {% if ceresConfig.pagination.position in ['bottom', 'top_bottom'] %}
            <div class="list-controls mb-5 row">
                <div class="col-12">
                    {% include "Ceres::Category.Item.Partials.Pagination" %}
                </div>
            </div>
        {% endif %}

        {% if category is defined %}
            <div class="col-12">
                {% if ceresConfig.item.showCategoryDescriptionBottom in ["description1", "both"] and category.details[0].description | trim is not empty %}
                    <div class="category-description mb-3">{{ category.details[0].description | raw }}</div>
                {% endif %}
                {% if ceresConfig.item.showCategoryDescriptionBottom in ["description2", "both"] and category.details[0].description2 | trim is not empty %}
                    <div class="category-description mb-3">{{ category.details[0].description2 | raw }}</div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block PartialHead %}
    <script type="application/ld+json">
        {"@context": "http://schema.org","@type": "WebSite","url": "{{ webstoreConfig.domainSsl }}
        ","potentialAction":{"@type": "SearchAction","target": "{{ webstoreConfig.domainSsl }}
        /search?query={search_term}","query-input": "required name=search_term"}}
    </script>
    {% set canonicalUrl = services.url.getCanonicalURL() %}
    {% if currentPage - 1 > 0 %}
        <link rel="prev" href="{{ canonicalUrl ~ queryString({'page': currentPage - 1}) }}" />
    {% endif %}

    {% if currentPage + 1 <= pageMax %}
        <link rel="next" href="{{ canonicalUrl ~ queryString({'page': currentPage + 1}) }}" />
    {% endif %}

    {% embed getPartial('page-metadata') %}
        {% if category is not defined %}
            {% block title      trans("Ceres::Template.itemSearchResults") ~ " " ~ searchString %}
            {% block robots     ceresConfig.meta.robotsSearchResult %}
        {% endif %}
    {% endembed %}
{% endblock %}