<h1 class="h2 title">
    <span>
      ${ currentVariation | itemName }
        <!--  {{ item.documents[0].data.texts.name3 }} -->
    </span>
</h1>

{% if ('item.shortDescription' in itemData or 'all' in itemData)%}
    <p v-if="currentVariation.texts.shortDescription !== ''" v-html="currentVariation.texts.shortDescription"></p>
{% endif %}

<hr>
<div class="mb-3"><div class="row"> <!----></div></div>


<!-- Variation -->
<div class="mb-3" v-if="attributes.length || Object.keys(units).length">
    <variation-select></variation-select>
</div>
<!-- /Variation -->

<!-- Item Bundle -->
<item-bundle v-if="currentVariation.variation.bundleType === 'bundle'" :bundle-type="currentVariation.variation.bundleType" :bundle-components="currentVariation.bundleComponents"></item-bundle>
<!-- /Item Bundle -->

<slot name="before-price"></slot>

<div v-if="currentVariation.filter.isSalable && variationGroupedProperties.length">
    <order-property-list></order-property-list>
</div>

<graduated-prices template="#vue-graduated-prices"></graduated-prices>

{% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
    <div class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.unitPrice.value > 0 && currentVariation.prices.rrp.unitPrice.value > currentVariation.prices.default.unitPrice.value">
        <del class="text-muted small">
            ${ currentVariation.prices.rrp.unitPrice.formatted | itemCrossPrice  }
        </del>
    </div>
{% endif %}

<span class="price h1">
    <span :content="currentVariation.prices.default.price.value">
        ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
    </span>
    <sup>*</sup>
    <span :content="currentVariation.prices.default.currency"></span>
</span>

<span class="vat small text-muted">
                        * {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.singleItemExclVAT") }}{% else %}{{ trans("Ceres::Template.singleItemInclVAT") }}{% endif %} {{ trans("Ceres::Template.singleItemExclusive") }}
    <a {% if ceresConfig.global.shippingCostsCategoryId > 0 %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.singleItemShippingCosts") }}">{{ trans("Ceres::Template.singleItemShippingCosts") }}</a>
                    </span>

<slot name="additional-content-after-vat"></slot>


<div class="base-price text-muted my-3" v-if="currentVariation.unit">
    <div>
        {{ trans("Ceres::Template.singleItemContent") }}
        <span>${ currentVariation.unit.content | numberFormat } </span>
        <span>${ currentVariation.unit.names.name }</span>
    </div>
    <div v-if="currentVariation.variation.mayShowUnitPrice">
        {{ trans("Ceres::Template.singleItemUnitPrice") }}
        <span class="base-price-value">
            ${ variationGraduatedPrice.basePrice | specialOffer(currentVariation.prices, "basePrice") }
        </span>
    </div>
    <span class="articlenumber text-muted">
      {{ trans("Ceres::Template.singleItemNumber") }}:
      <span>${ currentVariation.item.id }</span>
    </span>
</div>

<span v-if="(currentVariation.variation.isUnavailableIfNetStockIsNotPositive === true)" class="badge">
    <span>${ currentVariation.stock.net } Stück verfügbar</span><br>
</span>
<div><!----></div>

<slot name="after-price"></slot>

<span v-if="currentVariation.variation.availability" :class="'availability badge availability_' + currentVariation.variation.availability.id">
    <span>
        ${ currentVariation.variation.availability.names.name }
    </span>
</span>

<div class="my-3">
    <div class="w-100">
        <slot name="before-add-to-basket"></slot>
    </div>

    <div class="col-12 col-sm-7 col-md-12 col-lg-8 my-3 row">
        {{ AddToBasket.printVueComponent(
            "currentVariation",
            false,
            true,
            {
                ":missing-order-properties":"variationMissingProperties",
                ":is-variation-selected": "isVariationSelected && currentVariation.filter.isSalable",
                ":has-price": "currentVariation | hasItemDefaultPrice"
            }
        ) }}
    </div>

    <div class="w-100">
        <slot name="after-add-to-basket"></slot>
    </div>
</div>

<div class="mb-3"><div class="row"> <!----></div></div>

{% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
    <div class="btn btn-block btn-info my-3">
        <add-to-wish-list :variation-id="currentVariation.variation.id"></add-to-wish-list>
    </div>
{% endif %}
<!-- ./ITEM DETAIL -->

<slot name="additional-content-after-add-to-basket"></slot>

<div class="btn btn-block btn-info my-3 mb-4">
    <a href="/contact/" target="_blank"><b>Haben Sie eine Frage zu diesem Artikel?</b></a>
</div>

<hr>