{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block description    trans('Ceres::Template.homepageMetaDescription') %}
        {% block robots         ceresConfig.meta.robotsHome %}
    {% endembed %}
    <meta property="og:title" content="{{ companyName }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}"/>
    <meta property="og:image"
          content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}"/>

    <script type="application/ld+json">
        {"@context": "http://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl ~ urls.search }}?query={search_term}","query-input": "required name=search_term"}}
    </script>

    <title>{{ companyName }}</title>
{% endblock %}

{% block PageBody %}

    {% if ceresConfig.homepage.showShopBuilderContent or request.get('isContentBuilder') == 1 %}
        <div class="home container-max">
            <div class="row">
                <div class="col">
                    {% for content in container("Ceres::Homepage") if content.plugin == "Plenty" %}
                        {{ content.result|raw }}
                    {% endfor %}
                </div>
            </div>
        </div>

    {% else %}

        {% if showDefaultHomepage == "true" %}
            {% include 'Ceres::Homepage.MarketingHomepage.twig' %}
        {% else %}
            {% block ThemeHomepage %}
                {% include 'Ceres::Homepage.DefaultHomepage.twig' %}
            {% endblock %}
        {% endif %}

    {% endif %}

{% endblock %}