{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set lang = services.localizationRepository.getLanguage() %}
{% set activeCurrencies = config("Ceres.currency.available_currencies") | split(', ') %}
{% set enableCurrencySelect = config("Ceres.currency.enable_selection") == "true" and activeCurrencies | length > 0 %}
{% set currencyFormat = config("Ceres.currency.format") %}
{% set currencyFormatSelect = config("Ceres.currency.format_selection") %}

{% set headerContainer = LayoutContainer.show("Ceres::Header") | trim %}
{% if headerContainer is empty %}
    {% include "CeresCoconut::PageDesign.Partials.Header.DefaultHeader" %}
{% else %}
    <header id="page-header" class="fixed-top">
        <div class="container-max">
            <div class="row flex-row-reverse position-relative">
                <div id="page-header-parent" class="col-12 header-container" data-header-offset>
                    {{ headerContainer | raw }}
                </div>
            </div>
        </div>
    </header>
{% endif %}

{% set scriptId = uid() %}
<script id="{{ scriptId }}">
    var vueApp = document.getElementById("vue-app");
    var pageHeader = document.getElementById("page-header");

    if ( !!vueApp && !!pageHeader )
    {
        vueApp.style.marginTop = pageHeader.getBoundingClientRect().height + 'px';
    }

    var scriptElement = document.getElementById("{{ scriptId }}");
    scriptElement.parentElement.removeChild(scriptElement);
</script>

<div>
    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}

    {# set the initialCategory to the default category of the current item #}
    {% if services.template.isItem() == "1" and defaultCategory is not null %}
        {% set initialCategory = defaultCategory %}
    {% elseif services.template.isCurrentTemplate('tpl.home.category') %}
        {% set initialCategory = null %}
    {% endif %}

    <mobile-navigation :initial-category="{{ initialCategory | json_encode }}" :include-language="{{ urls.includeLanguage | json_encode }}"></mobile-navigation>
</div>